{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>書籍検索システム</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">書籍検索</a>
      </div>
    </nav>

    <main>
      <div class="container">{% block content %} {% endblock content %}</div>
    </main>

    <footer class="py-2 bg-dark">
      <p class="m-0 text-center text-white">Copyright &copy; Your Name</p>
    </footer>

    {% block extra_js %} {% endblock extra_js %}
  </body>
</html>
